<div class="container p-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Repository</h1>
      </div>
    </div>
    <div class="container" *ngIf="repoDetails">
      <div class="card p-3">
       <div class="row">
       <div class="col-md-4">   
          <h5>Repo Name</h5>
       </div>
       <div class="col-md-8">
          {{repoDetails.name}}
       </div> 
      </div> 
      <div class="row">
          <div class="col-md-4">   
             <h5>Repository Full Name</h5>
          </div>
          <div class="col-md-8">
             {{repoDetails.full_name}}
          </div> 
         </div> 
         <div class="row">
            <div class="col-md-4">   
               <h5>Owner</h5>
            </div>
            <div class="col-md-8">
               {{repoDetails.owner.login}}
            </div> 
           </div> 
           <div class="row">
              <div class="col-md-4">   
                 <h5>Repo Url</h5>
              </div>
              <div class="col-md-8">
                 {{repoDetails.url}}
              </div> 
             </div> 
         <div class="row">
            <div class="col-md-4">   
               <h5>Watchers</h5>
            </div>
            <div class="col-md-8">
               {{repoDetails.watchers}}
            </div> 
           </div> 
           <button class="btn btn-primary" (click)="back()"> Back</button>
      </div>
      
    </div>
  </div>