.card{
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    font-weight: 600;
    background-color: cornflowerblue;
}
a{
    text-decoration: none;
    color: #fff;
}
.card:hover{

    background-color: brown;
}
.userdata{
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ececec;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.userdata img, .form-control, .btn{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}